::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #eceff1;
}

::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(#607d8b, #37474f); */
  background: #90a4ae;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfd8dc;
}